html,
body {
  background: #eee;
  height: 100%;
  width: 100%;
}
html:-moz-full-screen {
  background: black;
}
html:-webkit-full-screen {
  background: black;
}
select[readonly] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select[readonly]::-ms-expand {
  display: none;
}
select[readonly] option:not(:checked) {
  display: none;
  visibility: hidden;
}
.file-upload {
  display: inline-block;
}
.file-upload input[type='file'] {
  opacity: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  width: 100%;
}
